
<html>
  <head></head>
  <body>
    <h1>Albums</h1>
    <% @all_albums.each do |album| %>
      <div>
        <a href="/albums/<%= album.id %>">Title: <%= album.title %></a>
        <br>
        Released: <%= album.release_year %>
      </div>
      <br>
    <% end %>
  </body>
</html>